{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}
{% load static %}

{% load crispy_forms_tags %}
{% block styles %}
{% bootstrap_css %}
{% include "navbar.html" %}

<link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet"> 
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body >
  
<div class="container-fluid" >
  <div class="row">
    
      <div class="col-md-2" style="background-color:darkblue;height: 3400px;">
        <a href="#">Add New Customer</a><br>
        <a  class='btn btn-default'style="font-size:18px" href="{%url 'add-customer'%}"><button class="btn btn-info" style="padding-top:-65px;height:80px;"> Add Customer</button></a>
        <a href="#">View Customers</a><br>
        <a href="#">Edit  Customer</a><br>
        <a href="#">Delete Customer </a><br>
     </div>
    <div class="col-md-10">
      
      <header style="background-color:rgb(207, 236, 236);margin-left:-15px; height:50px;">
      <h2>Dashboard</h2>
    </header>
    <div class="row">
   
      {% for image in images %}
 

  
      <div class="col-sm-6" width="400px" style="border:1px solid whitesmoke;padding-top:20px;" >
          <div class="wrapper">
              <div class="parent" onclick="">
                  <div class="child bg-one">
          
              <!-- <img src="{{user.profile.profile_picture.url}}" class="img-circle"  width="32" height="32">
              
              <strong style="color: #333333;cursor: pointer">{{user.profile.Name}}</strong>
              <p style="margin-left:520px;margin-top:-50px;font-size:30px;">...</p> -->
         
        <img src="{{image.image.url}} " id="image" style=" margin-bottom:20px;" class="img-fluid"  alt="Image">
        <!-- alt="{{image.user.user.username}}" width="30" height="30"> -->
      </div>
  
    <stron><h6 style="color: #333333;cursor: pointer;padding-top:30px">{{image.pname}}</strong></h6>
    <h6 style="margin-left:150px;">{{image.pub_date }}</h6><br></br>
    <h6>
       <img src="{{user.profile.profile_picture.url}}" class="img-circle"  width="32" height="32"> 
      Posted  by 
       <!-- <strong style="color: #333333;cursor: pointer">{{user.profile.Name}}</strong></h6> -->
  
    
<p><button class="btn btn-outline-info">VIEW PROJECT</button></a>
</p>
    </div>

    </div>
    </div>

 

          
 

{% endfor %}
    </div>
  </div>
    <div class="col-md-3">
   

        <form  action="{%url 'newsToday'%}" method="post">
          {%csrf_token%}
      
          {% bootstrap_form letterForm layout='inline' %}
          <input type="submit" value="Subscribe">
        </form>
      
  
    </div>
  </div>
</div>
  






 
<!-- <form action="/create_post/" method="POST" id="post-form">

  {%csrf_token%}

  {% bootstrap_form letterForm layout='inline' %}
  <input type="submit" class="btn btn-success btn-lg" value="Post"> -->
</form>

{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

{% bootstrap_javascript %} 

<!--End of the block content-->
 {{block.super}}
 <script src="static/js/mobicash.js"></script>

  
  
{% endblock %}

</div>
</body>

</html>