<!-- ;;;;;;;;;;;;;;;;;;;;;html to get aploadform;;;;;;;;;;;;;;;;; -->


{% load bootstrap4 %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Article</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}

</head>

<body>

  <div class="container-fluid" >
    <div class="row">
      
        <div class="col-md-2" style="background-color:darkblue;height: 3400px;">
          <a href="#">Add New Customer</a><br>
          <a  class='btn btn-default'style="font-size:18px" href="{%url 'add-customer'%}"><button class="btn btn-info" style="padding-top:-65px;height:80px;"> Add Customer</button></a>
          <a href="#">View Customers</a><br>
          <a href="#">Edit  Customer</a><br>
          <a href="#">Delete Customer </a><br>
       </div>
    <div class="col-md-10">
      <header style="background-color:rgb(207, 236, 236);margin-left:-15px; height:50px;">
        <h2>Dashboard</h2>
      </header>
      <form  action="{%url 'add-customer'%}" method="post" enctype="multipart/form-data" style="width:400px;margin-left:150px;">
        {%csrf_token%}
                      
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>
    </div>
    </div>
  </div>

  


   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

  <script type="text/javascript" src="{%static 'js/mobicah.js'%}"></script>

  {% bootstrap_javascript %} {% endblock %}
 

</body>

</html>