{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
        <div class="container-fluid" >
                <div class="row">
                  
                        <div class="col-md-2" style="  background-color: #333333;;height: 3400px;">
                                <a href="{%url 'add-customer'%}">Add New Customer</a><br>
                                <a  class='btn btn-default'style="font-size:18px" href="{%url 'add-customer'%}"><button class="btn btn-info" style="padding-top:-65px;height:80px;"> Add Customer</button></a>
                                <a href="{%url 'view-customer'%}">View Customers</a><br>
                                <a href="{%url 'edit'%}">Edit  Customer</a><br>
                                <a href="{%url 'delete'%}">Delete Customer </a><br>
                             </div>
                <div class="col-md-10">
                  <header style="background-color:rgb(207, 236, 236);margin-left:-15px; height:50px;">
                    <h2>Dashboard</h2>
                  </header>
                  

                  <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" style="color: #ff9a02;">No</th>
                            <th scope="col" style="color: #ff9a02;">Name</th>
                            <th scope="col" style="color: #ff9a02;">Adress</th>
                            <th scope="col" style="color: #ff9a02;">Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for cust in customers %}
                          <tr>
                            <th scope="row">{{cust.id}}</th>
                            <td>{{cust.name}}</td>
                            <td>{{cust.adress}}</td>
                            <td>{{cust.phone}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>  
           
</div>
</div>
</div>

        
<style>
      
   

</style>
</body>
</html>
  

 {% endblock %} 